.one-service-container{
    width: 500px;
    margin: 30px auto;
    border-radius: 10px;
    position: relative;
}
.service-button{
    width: 50%;
    border-radius: 10px;
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0px;
}